body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
header{
    display:flex;
}
.header-t{
    font-family: 'Yeseva One';
    font-size: 50px;
    padding-left:20px;

}
.para{
    padding-top:5px;
    color:gray;
    font-size: 25px;
    padding-bottom:30px
    
}
.color-t{
    color:blueviolet;
}
.coral-btn{
    color:white;
   
    background-color:coral;
    text-decoration: none;
    padding:10px 20px;
    border-radius:7px;
    font-size:30px;

}

.half-div{
    width:50%;
    margin:5px 35px;
    padding-left: 60px;
    
}
.border-style{
    border-left:5px solid;
    border-image:linear-gradient(blue,red);
    border-image-slice:1;
}
.focused-t{
 
    
    margin-top: 120px;
}
#header-img{
    width:90%;
    height:500px;
    padding-top:40px;
    padding-right: 80px;;
}
#scroll{
    padding-top:20px;
    color:rgb(90, 89, 89);
}
.my-mission h1{
    text-align: center;
    font-size:50px;
    
}
.flex{
    display:flex;
    margin:20px 130px;
}
.quater-div{
    width:23%;
    margin-left:40px;
    box-shadow: 10px 10px 60px gray;
    padding:20px;
    border-radius:7px;
  
}
.quater-div h2{
    font-size:30px;
}
.quater-div img{
    width:190px;
    margin: 0 auto;
    padding-left:20%;
    
}
.mission-1{
    background-color:rgb(240, 179, 209);
    margin-left:120px;
}
.mission-2{
    background-color:rgb(240, 236, 179);
}
.mission-3{
    background-color:rgb(198, 240, 179);
}
.dev-limit{
    margin-top:90px;

}
.dev-pic{
    width:30%;
}
.dev-lim-pc{
   width:100%;
   padding-left:70px;
   background-image: url(images/shapes/shape-1.png);
   background-repeat:no-repeat;
   background-position:left;
   background-size: 190px;
}
.dev-lim-t{
    width:70%;
    padding-left:130px;
}
.dev-lim-t h1{
    font-size:40px;
}
.dev-lim-t p{
    margin-bottom: 50px;
    font-size:20px;
    color:gray;
    
}
.community{
    margin-top:70px;
    padding-bottom:90px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-position:right bottom;
    background-size: 190px;
}
.dev-com-t{
    width:70%;
}
.dev-com-t h1{
    font-size:40px;
}
.dev-com-t p{
    margin-bottom: 50px;
    font-size:20px;
    color:gray;
    
}
.com-pic-div{
    width:30%;

}
.com-pic{
    width:100%;
    padding-right:30px;

}


footer{
    background-color:indigo;
    text-align:center;
    margin-bottom:0;
}
footer h1{
    color:white;
    padding-top:40px;
    font-family: 'Lobster', cursive;
}
footer p{
    color:lavender;
    padding-bottom:40px;
}